/* Estilos para el carrito de compras */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.imagen-producto {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto;
    display: block;
}
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
.pay-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: darkgreen;
}
